*{
  box-sizing: border-box;
}

body {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

.App {
  display: flex;
}

.App .pattern {
  width: 50px;
  background-image: url("../img/pic2.jpg");
  background-size: 50px;
}

.container {
  text-align: center;
  width: calc(100% - 100px);
  margin: 0 auto;
  min-height:100vh;
  padding: 0;
  background-color: white ;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D7D7DA;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.picture {
  width:200px;
  margin: 0 auto;
}
