#mainNav {
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

#mainNav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#mainNav li {
    color: black;
    margin: 10px 20px;
    cursor: pointer;
}

#mainNav li.active {
    color:#722010;
}

#mainNav li:first-of-type {
    margin-left: 0;
}

#basket {
    width: 80px;
    cursor: pointer;
}
